<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello 👋🏼</title>
</head>
<body>
    <center><h3>Portfolio Overengineered 😉</h3></center>
    <h3>Hello and welcome! 👋🏼</h3>
    <p>
        Hi there, I go by <b>Alex</b>. My mum named me after 
        <a href="https://en.wikipedia.org/wiki/Alex_Haley">Alex Haley</a>. 💫<br>
        I excel in <i>backend development</i> 🛠️, and <i>infrastructure engineering</i> 👷🏻. <br><br>
        Frontend is not my strong suite, hence this UI 😅. <br><br>
        This portfolio project specially focuses to flex backend muscles 💪🏼. The UI will be kept as minimal as possible.
        <h3>Technologies used/to be used</h3>
        <ol>
            <li>FastAPI 🏃</li>
            <li>VueJS 🖼</li>
            <li>Docker 🛳️</li>
            <li>GitHub Actions ⚙️👷🏻</li>
            <li>Sentry 👀</li>
            <li>Hosted on AWS EC2 ☁️</li>
            <li>Vercel 💫</li>
            <li>Cloudflare 🌐</li>
            <li>Nginx 🔄</li>
        </ol> 
        <h3>Other Profiles</h3>
        <ul>
            <li>💼 
                <b>LinkedIn</b>: <a href="https://linkedin.com/in/indrajit-alex">
                    @indrajit-alex</a>
            </li>
            <li>👨🏻‍💻
                <b>GitHub</b>: <a href="https://www.github.com/alex-pythonista">@alex-pythonista</a>
            </li>
        </ul>
    </p>
    
</body>
</html>